extends landing-layout

block head
  title #{brand}
  link(rel="stylesheet" href="styles/landingpage.css")
  style.
    html {
      background: url(/images/landingpage/#{landingpageImage}) no-repeat center center fixed;
    }


block background
  //img.img-responsive(ng-src="images/landingpage/default.jpg", style="position: fixed")

block body

  div.background-image-overlay
  div(ng-controller="LandingController")
    div.inner.cover
      h1.cover-heading #{landing.heading}
      p.lead1 #{landing.p1}
      p.lead #{landing.p2}
      p.lead.small #{landing.p3}
      p.lead
        a.btn.btn-lg.btn-success(href="/home") See More&hellip;

    div.mastfoot
      blockquote &quot;{{Quote.quote}}&quot;
        footer {{Quote.who}}

block scripts
  script(src='scripts/landing-app.js')
