doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/angular-motion/dist/angular-motion.min.css')
    //- link(rel='stylesheet', href='styles/animate.css')
    link(rel='stylesheet', href='styles/animations.css')
    link(rel='stylesheet', href='styles/user-nav.css')
    link(rel='stylesheet', href='styles/app.css')
    link(rel='stylesheet', href='styles/app2.css')
    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }


    //- Preload some images

    script.
      var images = new Array()
      function preload() {
        for (i = 0; i < preload.arguments.length; i++) {
          images[i] = new Image()
          images[i].src = preload.arguments[i]
        }
      }
      preload(
        "images/loader.gif"
      )

    block head

  body(ng-app='#{angularAppName}')

    div.user-header
      div.navbar(class=typeof isAdminApp !== "undefined" ? undefined : "navbar-inverse", role='navigation')
        div.container-fluid
          div.navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#{home}') #{brand}
          div.collapse.navbar-collapse

            if (userlevel >= 100)
              ul.nav.navbar-nav
                li
                  a(href="/admin") Admin

            ul.nav.navbar-nav.navbar-right
              if (isLoggedIn)
                li
                  a(href='/myaccount') #{firstname}'s Account
                li
                  a(href='/logout') Log out
              else
                li
                  a(href='/login') Log In
                li
                  a(href='/signup') Sign Up

              li
                a(href='/help') Help

      //- Search bar
        Note the hidden submit button. This allows us to hit return in the entry
        field and have the search execute.

      div#searchbar.container-fluid(class=isUserApp === false ? "searchbar-inverse" : "", ng-controller="SearchController", ng-cloak)
        form(ng-submit="OnSearch()")
          input(type="submit", name="search", style="position: absolute; left: -9999px; width: 1px; height: 1px;")
          div.input-group
            div.input-group-btn
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') {{SearchScope.title}} &nbsp;
                span.caret
              ul.dropdown-menu
                li(ng-repeat="Search in SearchScopes")
                  a(ng-click="onSearchScope($index)") {{Search.title}}
            input.form-control(type='text', placeholder='{{SearchScope.prompt}}' ng-model="Spec" autofocus)



    div.container-fluid(ng-cloak)
      block body


  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-animate/angular-animate.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='bower_components/angular-resource/angular-resource.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src="bower_components/angular-strap/dist/angular-strap.min.js")
  script(src="bower_components/angular-strap/dist/angular-strap.tpl.min.js")
  script(src='bower_components/underscore/underscore.js')
  script(src='bower_components/moment/moment.js')
  script(src='scripts/ritsservices.js')
  script(src='scripts/zenservice.js')
  script(src='#{scriptPath}')
  if (userlevel > 100)
    script(src='scripts/adminservices.js')
  block scripts

